.App {
  text-align: center;
}


.App-header {
  background: transparent;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  min-height: 100vh;
}
.App-logo {
  height: 10vmin;
}

